@import "../../styles/variables.scss";

.section__container {
  width: 100%;
  background-color: $bg-primary;
  margin-bottom: 10.5rem;

  .section,
  .section__reverse {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16.2rem;
    display: flex;
    align-items: center;
    gap: 5.4rem;

    .star {
      position: absolute;
      top: 0;
      transform: translate(50%, 50%);
    }

    &__details {
      width: 50%;

      .zigzag {
        margin-top: 6.8rem;
      }

      h3 {
        font-size: 3.2rem;
        font-weight: 500;
        margin-bottom: 2.4rem;
      }

      .desc {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2.4rem;
      }

      .points {
        display: flex;
        align-items: start;
        gap: 1.6rem;

        p {
          font-size: 1.8rem;
          font-weight: 400;
          margin-bottom: 1.6rem;
        }
      }
    }

    &__image {
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .image {
        height: 62.1rem;
        width: 19rem;
        z-index: 1;
      }

      // .phone__overlay {
      //   position: absolute;
      //   background-image: url("/landing/pricing-bg.png");
      //   background-position: top;
      //   background-repeat: no-repeat;
      //   width: 100%;
      //   height: 47rem;
      //   top: 0;
      //   overflow: hidden;
      //   margin-top: 5rem;
      // }
    }
  }

  .section__reverse {
    flex-direction: row-reverse;
  }
}
