@import "../../styles/variables.scss";

.advert__container {
  width: 100%;
  margin-bottom: 7.5rem;
  background-color: $bg-primary;

  .advert {
    max-width: 1116px;
    margin: 0 auto;
    background-color: #06b451;
    border-radius: 32px;
    padding: 6.4rem 3.2rem;
    position: relative;

    .overlay__left {
      position: absolute;
      background-image: url("/landing/adbg-left.png");
      background-repeat: no-repeat;
      background-position: left;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .overlay__right {
        position: absolute;
      background-image: url("/landing/adbg-right.png");
      background-repeat: no-repeat;
      background-position: right;
      width: 100%;
      height: 100%;
      top: 0;
      right: 4px;
    }

    &__inner {
      text-align: center;
      width: 74%;
      margin: 0 auto;

      h3 {
        font-size: 3.2rem;
        font-weight: 500;
        color: $text-secondary;
        margin-bottom: 1.6rem;
      }

      p {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 6rem;
        color: $text-secondary;
      }

      .stores {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        .apple,
        .playstore {
          width: 19.8rem;
          height: 9rem;
          position: relative;
        }
      }
    }
  }
}
