@import "../styles/variables.scss";
@import '../styles/responsive.scss';

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;

  @include xl {
    font-size: 56.25%;
  }

  @include lg {
    font-size: 50%;
  }

  @include md {
    font-size: 54%;
  }

  @include sm {
    font-size: 50%;
  }
  
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
}

a {
  color: inherit;
}

h3,
li {
  color: $text-dark;
  margin: 0;
  padding: 0;
  line-height: 1.7;
}

p {
  color: $text-light;
  line-height: 1.7;
}
