@import "../../../styles/variables.scss";

.hero__container {
  width: 100%;
  background-color: $bg-primary;
  padding: 19.2rem 0 14.6rem 0;

  .hero {
    max-width: 1116px;
    margin: 0 auto;
    background-color: $bg-secondary;
    border-radius: 6.4rem;
    padding: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .texts {
      h3 {
        font-size: 3.6rem;
        font-weight: 600;
      }

      .questions {
        color: #ffa401;
        margin-bottom: 2.4rem;
      }
    }

    .image {
      position: relative;
      height: 36rem;
      width: 40%;
    }
  }
}
