@import "../../../styles/variables.scss";

.hero__container {
  width: 100%;
  padding: 19.2rem 0 14.6rem 0;
 
  box-sizing: border-box;
 
  .hero {
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 4.9rem;
    padding-left: 16.2rem;
    padding-right: 12.8rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
   

    .details {
      padding-left: 6.6rem;
      width: 55%;

      h3 {
        font-weight: 600;
        font-size: 3.6rem;
        margin-bottom: 2.4rem;
      }

      p {
        margin-top: 6.4rem;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.6;
        width: 90%;
        margin-bottom: 6.4rem;
      }

      .stores {
        display: flex;
        margin-bottom: 4rem;

        .store {
          position: relative;
          height: 10rem;
          width: 19.8rem;

          &__image {
            width: 100%;
          }
        }
      }
    }

    .images {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .image {
        position: relative;
        height: 63.7rem;
        width: 37rem;

        .image1,
        .image2 {
          position: relative;
          width: 21.9rem;
          height: 23.1rem;
          position: absolute;
          transform: translate(-50%, -50%);
        }

        .image1 {
          top: 43%;
          left: 18%;
        }

        .image2 {
          top: 28%;
          right: -51%;
        }

        .image3 {
          position: relative;
          width: 21.9rem;
          height: 7.5rem;
          position: absolute;
          top: 72%;
          left: 18%;
          transform: translate(-50%, -50%);
        }

        .image4 {
          position: relative;
          height: 11.3rem;
          width: 11.3rem;
          position: absolute;
          top: 81%;
          right: -22%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .hero__overlay {
      position: absolute;
      background-image: url("/landing/hero-background.png");
      background-repeat: no-repeat;
      width: 100%;
      max-width: 1440px;
      height: 100vh;
      top: 0;
      z-index: -10;
      overflow: hidden;
    }
  }
}
